:root {
  --main-color: #222222;
  --accent-color:#f79314;
  --dark-color:#FCFAF5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
}

title, script {
  display: none;
}

html.body {
  width: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
}

ul, li {
  list-style: none;
}

h2 {
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  padding-top: 90px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  list-style: 24px;
  font-weight: 700;
}

.u-bar {
  widows: 50px;
  height: 5px;
  background-color: #f79314;
  border-width: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-top: 100px;
}

a:hover {
  opacity: 50%;
}

.lato {
  font-family: "Lato",sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.hr {
  margin-top: 35px;
  width: 40px;
  height: 5px;
  border-style: none;
  background-color: #f79314;
}

@media screen and (max-width: 767px) {
  body {
    text-align: center;
  }
  h2 {
    font-size: 26px;
    line-height: 31px;
    padding-top: 65px;
  }
}

.h-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80px;
  background-color: green;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 1140px;
  margin: auto;
  justify-content: space-between;
}

.logopc {
  margin-top: 20px;
  margin-left: 30px;
  display: block;
  width: 190px;
}

.logomb {
  width: 150px;
  display: none;
  margin-left: 20px;
  margin-top: 10px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  background-color: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-weight: bold;
  text-align: center;
  background-color: purple;
}

.h-li {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: skyblue;
  margin-left: 20px;
}

.h-li a {
  color: #222222;
}

.h-li:hover {
  opacity: 70%;
}

.h-list {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.h-list2 {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.orange {
  color: #f79314;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-bars {
  display: none;
}

.header-button {
  background-color: #f79314;
  width: 150px;
  height: 40px;
  border-radius: 2em;
  border-width: 0px;
}

.header-button a {
  color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 1080px) {
  .h-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 65px;
  }
  .logopc {
    margin-left: 50px;
    margin-top: 25px;
  }
  .fa-bars {
    display: inline-block;
  }
  .header-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .h-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 58px;
  }
  .header-logo {
    margin-top: 15px;
  }
  .header-nav {
    margin: 0px;
    height: 50px;
  }
  .logopc {
    display: none;
  }
  .logomb {
    display: block;
    padding: 0px;
  }
}

.top-logo {
  height: 200px;
  background-image: url(../img/course-hero-pc.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.top-logo h1 {
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: 76px;
  padding-left: 145px;
}

.top-logo h1 span {
  font-family: 'Lato', sans-serif;
}

.top-wrapper {
  background-color: aquamarine;
  padding-bottom: 85px;
}

.hr {
  display: block;
  margin: 35px auto 60px auto;
  width: 40px;
  height: 5px;
  border-style: none;
  background-color: #f79314;
  text-align: center;
}

.point-content {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.point-content .content-p-1 {
  display: block;
  margin: 15px auto 15px auto;
}

.point-content .p-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.point-content .p-2 {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  display: block;
  margin: 35px auto;
}

.point-content .p-2 span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #fff69d));
  background: linear-gradient(transparent 60%, #fff69d 0%);
}

@media screen and (max-width: 767px) {
  .top-logo {
    background-image: url(../img/course-hero-sp.png);
    background-size: contain;
    background-color: #f79314;
    height: 160px;
    text-align: center;
  }
  .top-logo h1 {
    top: 40px;
    padding: 0px;
    font-size: 22px;
    width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 26px;
    line-height: 31px;
    text-align: center;
  }
  h2 .lato {
    font-family: "Lato",sans-serif;
    font-size: 30px;
    font-weight: 900;
    display: block;
  }
  .hr {
    margin-top: 35px;
  }
  .shared-points {
    display: block;
    margin: 20px;
    text-align: center;
    margin: auto;
  }
  .shared-point {
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    padding: 20px;
    background-color: red;
  }
  .shared-point img {
    width: 100%;
  }
}

.point2 {
  display: block;
  margin: 30px auto;
  text-align: center;
  width: 1040px;
  border-radius: 20px 20px 0 0;
}

.point2 h3 {
  font-size: 30px;
  line-height: 36px;
  background-color: steelblue;
  padding-top: 50px;
  border-radius: 20px 20px 0 0;
}

.enn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: skyblue;
  margin: 0 auto -40px;
  position: relative;
}

.enn .heading-icon {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
}

.shared-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fcfaf5;
  margin: auto;
  text-align: center;
  padding: 0px 20px;
  width: 1040px;
  border-radius: 0 0 20px 20px;
}

.shared-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  background-color: palegreen;
  text-align: center;
}

.shared-point p {
  font-weight: 700;
  display: block;
  margin: 20px 0px;
}

.shared-point p img {
  width: 20px;
}

.shared-point .shared-point-p {
  background-color: #222222;
  color: #ffffff;
  border-radius: 30px;
}

.shared-point img {
  width: 100%;
}

table {
  width: 1040px;
  margin: auto;
  font-weight: 700;
}

table ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

table th {
  text-align: left;
  padding-left: 20px;
  list-style: none;
  line-height: 30px;
}

table .th-1 {
  background-color: #E4EFF6;
  height: 135px;
  border-radius: 10px 0 0 0;
}

table .th-2 {
  background-color: #D9EAF3;
  height: 75px;
}

table .th-3 {
  background-color: #E4EFF6;
  height: 75px;
}

table .th-4 {
  background-color: #D9EAF3;
  height: 85px;
}

table .th-5 {
  background-color: #E4EFF6;
  height: 110px;
}

table .th-6 {
  background-color: #D9EAF3;
  height: 70px;
  border-radius: 0 0 0 10px;
}

table td {
  line-height: 24px;
  text-align: center;
  padding: 20px;
}

table .td-1 {
  text-align: left;
  vertical-align: top;
}

.td-2 {
  background-color: #FFF8EB;
}

.td-2 img {
  width: 30px;
}

.td-3 img {
  width: 30px;
}

.td-4 {
  background-color: #FFF8EB;
}

.td-4 span {
  font-size: 30px;
  line-height: 45px;
}

.td-5 {
  text-align: left;
  vertical-align: top;
}

.td-6 {
  background-color: #FFF8EB;
  font-size: 20px;
  line-height: 30px;
}

.td-1 li::before, .td-5::before {
  content: '';
  display: inline-block;
  background-color: #f79314;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  top: 4px;
}

.no-background-th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 85px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.no-background-th .panda {
  width: 85px;
  height: 50px;
  display: block;
  padding-right: 5px;
}

.no-background-th ul {
  text-align: center;
  color: #f79314;
}

.no-background-th .p01 {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 5px;
}

.no-background-th .p02 {
  font-size: 20px;
  line-height: 20px;
}

.no-background-th .p03 {
  font-size: 20px;
}

.no-background-th .p04 {
  font-size: 30px;
  line-height: 30px;
}

.orange-th1, .orange-th2, .orange-th3 {
  background-color: #f79314;
  width: 25%;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

.orange-th1 span, .orange-th2 span, .orange-th3 span {
  display: block;
  font-size: 14px;
}

.orange-th1 {
  border-radius: 10px 0 0 0;
}

.orange-th3 {
  border-radius: 0 10px 0 0;
  position: relative;
}

.orange-th3::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  background-image: url(../img/icon-openclass_table.png);
  background-size: contain;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: #f79314 3px;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.couse-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1040px;
  text-align: left;
  margin: auto;
}

.couse-btn {
  display: inline-block;
  width: 33%;
  height: 55px;
  border-width: 2px;
  border-color: #f79314;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  padding-left: 20px;
}

.couse-btn a {
  color: #f79314;
  font-weight: 700;
  font-size: 20px;
}

.couse-btn a span {
  font-size: 16px;
  top: 50%;
}

.couse-btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin: 0 20px 0 0;
}

.couse-btn:hover {
  background-color: #f79314;
  display: inline-block;
}

.couse-btn:hover a {
  color: #ffffff;
  opacity: 100%;
}

.open-btn a::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon_open_link.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}

.container {
  width: 100%;
}

.couse {
  width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  background-color: pink;
  padding: 40px;
}

.couse .carrier {
  text-align: center;
}

.contents1, .contents2, .contents3 {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.contents1 h3, .contents2 h3, .contents3 h3 {
  font-size: 20px;
  line-height: 26px;
}

.contents1 h3::before, .contents2 h3::before, .contents3 h3::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-image: url(../img/heading-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.contents2 p {
  display: inline-block;
  padding-left: 10px;
}

.content-plan {
  margin-top: 10px;
}

.content-plan p {
  line-height: 26px;
}

.tenn::before {
  content: '';
  display: inline-block;
  background-color: #f79314;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px 10px;
  position: relative;
  top: 4px;
}

.planicon {
  display: inline-block;
  color: #f79314;
  background-color: #FCFAF5;
  width: 140px;
  height: 34px;
  border-radius: 17px;
  padding: 5px 20px;
  margin: 20px 0;
}

.pencil::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-pencil.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.calender::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-calender.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.condition::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-condition.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.coin::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-coin.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

.pc::before {
  content: '';
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-pc.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 8px;
}

h3 {
  vertical-align: middle;
}

h3 img {
  width: 20px;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid 2px #f79314;
  height: 132px;
  margin-top: 20px;
  background-color: springgreen;
  position: relative;
}

.mission-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: 250px 130px;
          box-sizing: 250px 130px;
  width: 250px;
  height: 130px;
}

.mission-sub h4 {
  display: inline-block;
  background-color: #f79314;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;
  height: 35px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
}

.mission-sub h4 span {
  display: inline-block;
  font-size: 14px;
  top: 50%;
}

.mission-sub .mission-img {
  height: 130px;
  width: 250px;
}

.mission-text {
  display: block;
  padding: 30px;
}

.voice-wrapper {
  background-image: url(../img/bg-section-top-course.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.voices {
  display: block;
  margin: auto;
  width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.voice {
  display: block;
  width: 31%;
}

.voice img {
  display: block;
  width: 100%;
}

.voice p {
  font-weight: 700;
}

footer {
  padding-top: 80px;
  padding-left: 50px;
  background-color: #f79314;
}

.f-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-left {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.footer-left h4 {
  font-weight: 700;
  padding-top: 20px;
}

.footer-left p {
  padding-top: 10px;
}

.footer-icon {
  width: 280px;
}

.sns {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sns .face, .sns .twit {
  width: 60px;
  margin-right: 20px;
}

.footer-nav ul {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav ul li {
  display: block;
  white-space: nowrap;
  text-align: left;
}

.footer-nav ul li a {
  color: #ffffff;
}

p.nobr {
  white-space: nowrap;
}

.footer-logo {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.f-logo {
  width: 125px;
}
/*# sourceMappingURL=common.css.map */