.footer-nav > li + li {
	margin-top: 30px;
}

.footer-nav-item {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	&:link,:visited{
	color: #FFFFFF;
	}
}

.footer-nav-item > span {
	font-weight: normal;
	margin-left: 1em;
}