.footer-info {
	display: block;
	color: #FFFFFF;
	.footer-logo {
	   display: inline-block;
	   max-width: 280px;
	}
	
	.footer-logo > img {
	   width: 100%;
	   height: auto;
	}
	
	.footer-company,
	.footer-address {
	   font-size: 16px;
	   font-weight: bold;
	}
	
	.footer-social {
	   display: flex;
	}
	
	.footer-social > li + li {
	   margin-left: 20px;
	}
	
	.footer-social-item {
	   display: block;
	   max-width: 60px;
	}
	
	.footer-social-item > img {
	   width: 100%;
	   height: auto;
	}
	
	.footer-logo + .footer-company {
	   margin-top: 25px;
	}
	
	.footer-company + .footer-address {
	   margin-top: 10px;
	}
	
	.footer-address + .footer-social {
	   margin-top: 35px;
	}
}


@media screen and (max-width: 767px) {
	.footer-info {
		.footer-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}
	
			.footer-company,
			.footer-address {
		text-align: center;
		}
	
			.footer-social {
		justify-content: center;
		}
	}
}