.page-top-button {
	position: absolute;
	width: 50px;
	height: 50px;
	top: -105px;
	right: 50px;
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 0 12px 30px -15px;
	transition: .2s;
}

.page-top-arrow {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-left: solid 3px #F79214;
	border-top: solid 3px #F79214;
	transform: rotate(45deg);
	text-decoration: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (min-width: 767px) {
	.page-top-button:hover {
	background-color: #F79214;
	}

	.page-top-button:hover .page-top-arrow {
	border-left: solid 3px #FFFFFF;
	border-top: solid 3px #FFFFFF;
	}
}

@media screen and (max-width: 767px) {
	.page-top-button {
	right: 20px;
	top: -85px;
	}
}